<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<select id="state">
		<option>mp</option>
		<option>rj</option>
		<option>up</option>
	</select>
	<select id="cities">
	</select>
	<script>
		$(document).ready(function(){
			$('#state').change(function(){
				$.post('http://127.0.0.1:8000/citystate',{state:$('#state').val()},function(data,status){
					$('#cities').html(data);
				});
			});
		});
	</script>
</body>
</html>

